<% @moods.each do |mood| %>
<div class="index_row clearfix">
  <h2 class="mood_title"><%= link_to mood.mood, mood %></h2>
  <p class="mood_sub_title"> <%= mood.description%></p>
</div>
<% end %>

<div class="links">
  <%= link_to "New Mood", new_mood_path %>
</div>
