
<div class="row clearfix">
<div class="cocktail">
<p><%= cocktail.drink_name %></p>
</div>
<div class="trash">
<%= link_to mood_cocktail_path(@mood, cocktail.id), method: :delete, data: {confirm: "Are you sure?"} do %>
<i class= "fa fa-trash"></i>
<% end %>
</div>
</div>
